<p><strong>Season 7</strong></p>
<ul>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Shocker-Corporations-Do-Evil-e29mp0o">27. Shocker: Corporations Do Evil</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Is-Linux-Too-Popular-e294l66">26. Is Linux Too Popular?</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Is-Linux-Really-About-Choice-e28a31e">25. Is Linux Really About Choice?</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Linux-Mega-Corp-e281u3c">24. Linux Mega Corp?</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Gnome-Reinvents-Itself-e27hd93">23. Gnome Reinvents Itself</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Linux-Rules-the-World-e278m7q">22. Linux Rules The World?</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Ubuntu-Goes-Full-Snap--Minimal-Installs-Blasted--and-Solus-4-4-e26ng9h">21. Ubuntu Goes Full Snap, Minimal Installs Blasted, and Solus 4.4</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/More-Red-Hat-Fallout--New-Linux-Kernel--More-News-e26ekvk">20. More Red Hat Fallout, New Linux Kernel, More News</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/What-Is-Going-on-With-Redhat-e265aad">19. What Is Going on With Redhat?</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Firefox-Embraces-Pipewire-and-Steam-Makes-Things-WAY-Better-e25s3c6">18. Firefox Embraces Pipewire and Steam Makes Things WAY Better</a></li>
<li><a href="https://podcasters.spotify.com/pod/show/thelinuxcast/episodes/Crunchbang-Challenge-and-Many-Tangents-e25i3k2">17. Crunchbang++ Challenge and Lots of Tangents</a></li>
</ul>
