<p>Want to see your name here? Help out the channel by supporting me on <a href="https://patreon.com/thelinuxcast">Patreon</a> or on <a href="https://ko-fi.com/thelinuxcast">Ko-Fi</a></p>
<h4>Ultimate Supporter</h4>
<p>Brian Bommarito/Burrito</p>
<h4>Master Level Patrons</h4>
<p>Syd A.</p>
<h4>Sudo Level Patrons</h4>
<p>Daniel S.</p>
<h4>VIP Patrons</h4>
<p>forlornidealist</p>
<p>Kramer Kare</p>
<p>Fred Lo Cascio</p>
<p>Devon Caballero-Zarate</p>
<p>Tin</p>
<p>Dennis Östergren</p>
<h4>Director</h4>
<p>Henry C.</p>
<h4>Executive Producer</h4>
<p>Amonte Allen</p>
<p>I use Fedora, BTW</p>
<p>Jeff Smith</p>
<p>Mike DePolis</p>
<p>mrneilypops x2</p>
<p>Antoine Wilk x2</p>
<p>Keith McGavin</p>
<p>TGB</p>
<p>Garrick</p>
<p>Jackson Knife and Tool</p>
<p>Alex Ts</p>
<p>Dirk S.</p>
<p>Xavier H.</p>
<p>Lorenzo C.</p>
<p>Σοφία Αντωνόπουλου</p>
<p>Jason B.</p>
<p>Matt M.</p>
<p>abyss</p>
<p>bengal</p>
<p>Array</p>
<h4>Co-Producer</h4>
<p>Yrjö Hatakka</p>
<p>Pjol</p>
<p>Richard Meyer</p>
<p>Eduardo Sanchez</p>
<p>Joris</p>
<p>Yukon Miner</p>
<p>Carbondated</p>
<p>mightyspirit</p>
<p>Ralph B.</p>
<p>Khudzul</p>
<p>Rick V.</p>
<p>Niklas M.</p>
<p>Michael H.</p>
<p>CakedCrunchy/CloudyTuba</p>
<p>JTBooms</p>
<p>Mislav</p>
<p>Pedro R.</p>
<p>Lanius Pallidus</p>
<p>Neil Neilypops</p>
<p>tmendoza6</p>
<p>Advait C</p>
<p>Mark Maynard</p>
<p>Mike Bear</p>
<p>Cal Demier</p>
<p>BytebroUK</p>
<p>stewie3128</p>
<p>DearDiso</p>
<p>Jefferson</p>
<p>Dounial</p>
<p>Agustin G</p>
<h4>Producer</h4>
<p>lucas wheeler</p>
<p>Alexandros</p>
<p>melonslapper35</p>
<p>Bruce Lipe</p>
<p>Phillip</p>
<p>Darkbandits6</p>
<p>Crucible</p>
<p>Camp514</p>
<p>Ness</p>
<p>Matthias J.</p>
<p>Tobias W.</p>
<p>Gabriel C.</p>
<p>Carl A.</p>
<p>Michael H.</p>
<p>Manuel M</p>
<p>Professor Pretend Taylor Swift</p>
<p>Bruce Barr AKA MrGadgets</p>
<p>Jan Iversen</p>
<p>Dætalys</p>
<p>Zachary W.</p>
<p>Xenan</p>
<p>ChonkaLoo</p>
<p>Bruce's Eclectic World</p>
<p>Jeff S.</p>
<p>Strangeloop</p>
<p>The Penguin Rockers</p>
<hr>
